<div class="page">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <form class="filter-box">
                    <div class="filter-box-title flex-none">
                        CAR BRAND LIST
                    </div>
                    <div class="flex-none">
                        View All
                    </div>
                    <div class="filter-box-search input-group mb-3">
                        <span class="input-group-text">
                            <i class="fa-icon fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input type="text" class="form-control font-secondary" placeholder="Search car brand"/>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary btn-flex">
                        <span>+</span> 
                        <span>Add Brand</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>